.categories{
  width: 60%;
}

.calculatorLabels{
  display: flex;
  flex-direction: row;
}

.itemLabel{
  font-size:12px;
  margin-left: 1rem;
  margin-right: 1rem;
}

h1{
  color:black;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
